<link rel="stylesheet" href="/css/style.css" />

<div id="nav">
  <div class="navbar-title">
    <h1 id="title">BudgetBuddy</h1>
  </div>
  <div class="navbar-item">
    <a href="/index">
      <span class="button">Home</span>
    </a>
    <a href="/overview">
      <span class="button">Overview</span>
    </a>
    <a href="/help">
      <span class="button">Help</span>
    </a>
  </div>
</div>
