<link rel="stylesheet" href="/css/style.css" />

<div id="nav">
  <div class="navbar-title">
    <h1 id="title">BudgetBuddy</h1>
  </div>
  <div class="navbar-item">
    <a href="/index">
      <span class="button">Home</span>
    </a>
    <a href="/overview">
      <span class="button">Overview</span>
    </a>
    <a href="/help">
      <span class="button">Help</span>
    </a>

    <!-- Login status on navbar -->
    <% if (loggedIn) { %> Logged in as
    <a href="<%=`/user/${currentUser._id}`%>"> ➥ <%= currentUser.fullName %></a>
    <%} else {%>
    <a href="/login">Log In</a>
    <% } %> <% if (loggedIn) { %> <a href="/user/logout">Log Out</a> <% } else {
    %> <a href="/signup">Sign Up</a> <% } %>
  </div>
</div>
