<section id="hero">
    <div>
        <h1>Welcome to BudgetBuddy!</h1>
        <br />
        <p>
            With our user-friendly platform, you can seamlessly track your expenses, efficiently manage your income, and gain a crystal-clear understanding of your financial situation. Whether you’re saving for a dream vacation, preparing for future investments, or simply striving to take control of your spending, we are here to guide you every step of the way. 
        </p>
        <br>
        <p>
            Our powerful tools and insights are designed to empower you to make smarter financial decisions and achieve your goals faster than ever. BudgetBuddy is here to transform the way you think about money management and help you turn your dreams into reality.
        </p>
        <br>
        <a href="/signup">
            <button>Start today!</button>
        </a>
    </div>
    <img src="/images/hero-image.png" alt="Budget Manager">
</section>

<section class="testimonials">
    <blockquote>
        "Budget Buddy completely transformed how I manage my finances!"
        <cite>- Happy User</cite>
    </blockquote>
</section>

<section id="login-section">
    <h2>Sign in</h2>
    <div class="login-form">
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
            
            <button type="submit">Login</button>
        </form>
    </div>
</section>
