<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />

  <title>Document</title>
</head>
<body>
	<h1>Blaa</h1>

	<p>MATTI JA TEPPO MATKALLAAAAAAAAA</p>

	<div class="flashes">
			<% if (flashMessages) { %> <% if (flashMessages.success) { %>
			<div class="flash success"><%= flashMessages.success %></div>
			<% } else if (flashMessages.error) { %>
			<div class="flash error"><%= flashMessages.error %></div>
			<% } %> <% } %>
		</div>
</body>
</html>


<!-- Flash messages -->

