<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
</head>
<body>
    <h1>Overview</h1>

    <h2>Users Table</h2>
    <table class="table">
    <thead>
        <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th>Income</th>
        <th>Expense</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <p>xxxx</p>
        </td>
        <td>
            <p>xxxx</p>
        </td>
        <td>
            <p>xxxx</p>
        </td>
        <td>
            <p>xxxxx</p>
        </td>
        <td>
            <p>xxxxx</p>
        </td>
        <td>
            <p>xxxxx</p>
        </td>
        <td>
            <p>xxxxx</p>
        </td>
        <td>
            xxxx
        </td>      
        </tr>
    </tbody>
    </table>


</body>
</html>