/* Stylesheet */
* {
    color: black;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #8e44ad, #3498db);
    color: white;
    text-align: center;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

table, td {
    padding: 5px 15px;
    text-align: left;
}

table th {
    padding: 8px;
}

/* Consistent table sizes */
.table th, .table td {
    width: 150px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

section {
    background: rgba(255, 255, 255, 0.1);
    max-width: 100%;
}

button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 10px;
    color: white;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


/* Header-tyylit */
header {
    background-color: #2c3e50;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    color: #ecf0f1;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo img{
    width: 90px;
    height: 90px;
}

header nav a {
    margin: 0 10px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: large;
}

header nav a:hover {
    color: #1abc9c;
}


/* Hero-osio */
#hero {
    display: flex;
    align-items: center;
    background: none;
}

#hero div {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#hero div p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
}

#hero div button {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #2c3e50;
    color: whitesmoke;
    font-size: 1.5rem;
    align-self: flex-start;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

#hero div button:hover {
    background-color: rgba(244, 193, 41, 0.89);
}

#hero img {
    height: 550px;
    width: auto;
}

.testimonials {
    margin-top: 80px;
    text-align: center;
    background-color: rgb(132, 6, 186);
    border-radius: 5px;;
    padding: 20px;
    font-style: italic;
}

.testimonials cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}

.testimonials * {
    color: #e7caf6;
}

/* Sign Up */
#signup {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
    min-width: 300px;
}

.signup-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px 0px;
    border-radius: 8px;
    width: 100%;
}

.signup-form h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
}

.signup-form input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Login-osio */
#login {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
    width: 350px;
}

.login-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px 0;
    border-radius: 8px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
}

.login-form input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    margin-bottom: 15px;
}


/* FAQ ja Chat -sivun tyylit */
#faq {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.faq-container, .chat-container {
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    color: #fff;
    text-align: left;
}

.faq-item {
    margin-bottom: 15px;
}

#chat-box {
    height: 200px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

#chat-box p {
    margin: 5px 0;
}

#chat-form {
    display: flex;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#chat-form button {
    padding: 10px;
    margin-left: 5px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #2c3e50;
}

footer p {
    color: whitesmoke;
}


/* Overview */
#budgetOverview .budgetItemTable {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 80px;
    max-width: 900px;
}

.budgetItemTable button {
    font-size: 11px;
    margin: 2px;
}


/* Add Income and Expense */
.data-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background: none;
}

.add-income, .add-expense {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

.add-income h2, .add-expense h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
}

.add-income input, .add-expense input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    margin-bottom: 15px;
}

.add-income button, .add-expense button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

.add-income button:hover, .add-expense button:hover {
    background-color: #2980b9;
}


/* Responsive view */
@media (max-width: 830px) {

    body {
        font-size: 14px;
    }

    header {
        flex-direction: column;
    }

    header nav {
        margin-top: 10px;
    }

    #hero {
        flex-direction: column;
    }

    #hero img {
        height: 300px;
        width: auto;
    }

    #budgetOverview .budgetItemTable {
        width: 100%;
        margin: 5px auto;
        padding: 1px;
    }

    section#budgetOverview {
        padding: 40px;
    }

    .table {
        display: block;
        overflow-x: auto;
        width: 100%;
        padding-bottom: 10%;
    }

    .table td, .table th {
        word-wrap: break-word;
        white-space: normal;
    }
    
    .table td {
        padding: 0%;
        gap: 5px;
        text-align: center;
    }

    .table th:nth-child(4), .table td:nth-child(4),
    .table th:nth-child(5), .table td:nth-child(5) {
        display: none;
    }

    button {
        font-size: 12px;
        padding: 7px;
        margin: 2px
    }

    .add-income, .add-expense {
        background: rgba(255, 255, 255, 0.2);
        margin-top: 10%;
        padding: 20px 15px;
        width: 100%;
        max-width: 600px;
    }
}