<section id="signup">
    <h1>Sign up</h1>
    <p>
        Create a BudgetBuddy account to manage your finances and start budgeting smarter!
    </p>
    <br>

    <div class="signup-form">
        <form action="/signup" method="POST">
            <input type="text" id="first_name" name="first_name" required placeholder="First name">
            <br>
            <input type="text" id="last_name" name="last_name" required placeholder="Last name">
            <br>
            <input type="email" id="email" name="email" required placeholder="Email">
            <br>
            <input type="password" id="password" name="password" required placeholder="Create a password">
            <br><br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</section>
