<section id="signup">
  <h1>Sign up for Budget Buddy</h1>
  <p>Create an account to manage your finances and start budgeting smarter!</p>
  <div class="signup-form">
    <form action="/signup" method="POST">
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        required
        placeholder="Enter your first name"
      />
      <label for="last_name">Last Name:</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        required
        placeholder="Enter your last name"
      />
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="Enter your email"
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        placeholder="Create a password"
      />

      <button type="submit">Sign Up</button>
    </form>
  </div>
</section>
