<section class="data-form">
  <!-- TÄHÄN OIKEA ROUTE INCOME/NEW -->
  <form action="/income/new" method="POST">
    <div class="add-income">
      <h2>Add a new Income</h2>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Title"
        autofocus
        required
      />
      <br />
      <input
        type="number"
        name="amount"
        id="amount"
        placeholder="Amount €"
        required
      />
      <br />
      <input
        type="category"
        name="category"
        id="category"
        placeholder="Category"
        required
      />
      <br />
      <input
        type="description"
        name="description"
        id="description"
        placeholder="Description"
      />
      <br />
      <input type="date" name="date" id="date" required />
      <br /><br />

      <button type="submit">Add Income</button>
    </div>
  </form>
</section>
